<!-- using ejsmate inject boilerplate -->
<%- layout("layouts/boilerplate") %>

<div class="row">
	<h1 class="text-center">New Campground</h1>
	<div class="col-lg-6 offset-lg-3">
		<form
			action="/campgrounds"
			method="POST"
			class="validated-form"
			novalidate
			enctype="multipart/form-data"
		>
			<div class="mb-3">
				<label class="form-label" for="title">Title</label>
				<input
					class="form-control"
					type="text"
					name="campground[title]"
					id="title"
					required
				/>
				<!-- bootstrap custoom validation feedback message -->
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please choose a title</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="location">Location</label>
				<input
					class="form-control"
					type="text"
					name="campground[location]"
					id="location"
					required
				/>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please provide a location</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="price">Campground Price</label>
				<div class="input-group">
					<span class="input-group-text" id="price">$</span>
					<input
						id="input-price-new"
						type="number"
						class="form-control"
						placeholder="0.00"
						min="0"
						step="0.1"
						name="campground[price]"
						aria-label="price"
						aria-describedby="price"
						required
					/>
					<div class="valid-feedback">Looks good!</div>
					<div class="invalid-feedback">Please choose a price</div>
				</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="blurb">Description</label>
				<textarea
					class="form-control"
					type="text"
					name="campground[blurb]"
					id="blurb"
					required
				></textarea>
				<div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please write a description</div>
			</div>

			<div class="mb-3">
				<label class="form-label" for="image">Upload Images</label>
				<div class="input-group mb-3">
					<input
						type="file"
						class="form-control"
						name="image"
						id="image"
						multiple
						required
					/>
				</div>
				<!-- <input type="file" name="image" id="" multiple /> -->
				<!-- old url manula entry replaced with above image upload -->
				<!-- <label class="form-label" for="image">Image Url</label>
				<input
					class="form-control"
					type="text"
					name="campground[image]"
					id="image"
					required
				/> -->
				<!-- <div class="valid-feedback">Looks good!</div>
				<div class="invalid-feedback">Please provide a image url</div> -->
			</div>

			<div class="mb-3">
				<button class="btn btn-success">Add Campground</button>
			</div>
		</form>

		<div class="mb-3">
			<a href="/campgrounds">Back to All Campgrounds</a>
		</div>
	</div>
</div>
