/* custom css styles*/

/* mapbox maps */
/* cluster map on campgrounds/index */
#cluster-map {
	width: 100%;
	height: 500px;
}
/* map of campground on show page */
#map {
	width: 100%;
	height: 300px;
}

/* round right top and bottom corners for the price input field on the new and edit campground pages */
#input-price-new,
#input-price-edit {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
